html, body{
    height:100%;
    background-color: rgb(206, 149, 76);
    width:100%;
    margin:0;
}
main{
    height: 100%;
    background-color: rgba(201, 144, 70, 0.14);
    width:100%;
}
#logo{
    height:60px;
    width: 60px;
    border-radius: 50%;
}
.city-img{
    height: 150px;
    width: 150px;
}
footer img{
    height:20px;
    width: 22px;
}