#list-view img{
    height:200px;
    width: 250px;
}

#list-view > div{
    margin:2%;
    background-color: lightgrey;
    width:40%;
}


#list li{
    display: inline;
    font-weight: bold;
}
#list{
    width: fit-content;
    margin:auto;
}
#list ul{
    padding:0;
    padding-inline-start:0;
}
#map-view{
    display: none;
}

#rad-card{
    float : left;
}
#lalit-card{
    float : right;
}
#taj-card{
    float:left;
}

.hotel-card div{
    margin:0;
}
/* .hotel-card-desc
} */
.hotel-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hotel-card > *:last-child{
    margin-left: 2%;
}