#list-view img{
    height:200px;
    width: 250px;
}

#list-view > div{
    margin:2%;
    background-color: lightgrey;
    width:40%;
}

#list-view >div:hover{
    background: rosybrown;
}

#list{
    width: fit-content;
    margin:auto;
}
#list ul{
    padding:0;
    padding-inline-start:0;
}
#list-view{
    height:100vh;
}
#map-view{
    height:100vh;
    width:100%;
}

#rad-card{
    float : left;
}
#lalit-card{
    float : right;
}
#taj-card{
    float:left;
}

.hotel-card div{
    margin:0;
}

.hotel-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.hotel-card > *:last-child{
    margin-left: 2%;
}

.hotel-card div:first-child{
    object-fit: cover;
}

